doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 详情页
    style.
      body,html{
      margin: 0;
      padding: 0;
      width:100%;
      height:100%;
      }
      .wrap{
      width:600px;
      margin: 40px auto;
      text-align: center;
      border:1px solid #ccc;
      padding: 50px;
      }
      .info{
      font-size: 14px;
      text-align: right;
      display: flex;
      justify-content: end;
      color: rgb(119, 114, 114);
      }
      .content{
      line-height: 20px;
      margin-top: 10px;
      text-align: left;
      text-indent: 2rem;
      }
      .button{
      text-align: right;
      cursor: pointer;
      color: #1890ff;
      }
      .button::after{
      color: #40a9ff;
      }
  body
    .wrap
      div.button(onclick='window.history.go(-1)') 返回
      h3 #{ data.title }
      div.info
        div #{ data.author }&nbsp;|&nbsp;
        div #{ data.addTime } 
      div.content #{ data.content }
